<div class="card-wrapper">
  <div class="container">
    <h1 class="text-center">Montages de videos corporate</h1>
    <div class="row">
      <% @corporate_videos.each do |video| %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <%= render "card_category", video: video %>
        </div>
      <% end %>
    </div>
    <%= link_to "Retour à la liste des vidéos", videos_path %>
  </div>
</div>
