<div class="footer">
  <div class="container text-center">
    <h2 class="footer-btn"><a href="&#109;&#x61;&#105;&#x6c;&#116;&#111;&#58;&#x63;&#x2e;&#108;&#x61;&#117;&#x72;&#101;&#x6e;&#x67;&#x65;&#64;&#103;&#x6d;&#97;&#105;&#108;&#x2e;&#x63;&#x6f;&#109;">Contactez-moi ! <i class="fa fa-envelope-o" aria-hidden="true"></i></a></h2>
    <br>
    <h4 class="text-center"> Pour en savoir plus sur mon profil :
      <a href="https://fr.linkedin.com/in/capucine-laurenge-66b618129" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </h4>
    <h6 class="text-shadow text-right"> Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://fr.linkedin.com/in/nathalie-meriaux-00719a33", target="blank">Nathalie Meriaux</a></h6>
  </div>
</div>
